---
layout: default
title: Rio PM - FAQ
---

<a name="raiz"></a>
<h3>FAQ - Perguntas Mais Frequentes</h3>
<hr size="1">

<p>
<font color="#CC0000"><i>"Do que vocês estão falando???"</i></font><b> Saiba aqui! ;-)</b>
</p>
<ul>
{% for item in site.data.faq %}
	<li><a href="#faq{{ forloop.index }}">{{ item.question }}</a></li>
{% endfor %}
</ul>

{% for item in site.data.faq %}
	<p>
		<br>
		<b>
			<i>
				<a name="faq{{ forloop.index }}"></a>
				* {{ item.question }}
			</i>
		</b>
		<br>
		{{ item.answer }}
	</p>
	<p align="right">
		<a href="#raiz">voltar ao início</a>
	</p>
{% endfor %}

<p><br>Mais perguntas e respostas em breve!!!</p>
