<header>
	<h1>
	    Rio de Janeiro <br />
	    Perl Mongers
	</h1>
	
	<h2>
	</h2>
	
	<a href="http://rio.perl.org.br/">
	    <img
	        width="760" height="175"
	        alt="Rio de Janeiro Perl Mongers"
	        src="images/bg1.png"
	        id="frontphoto"
	    />
	</a>
	<script>
		document.addEventListener("DOMContentLoaded", function(){
		        var subtitle = new Subtitle(document.querySelector('header > h2'), {{ site.data.subtitles | jsonify }});
		        setInterval(function(){
		                subtitle.refresh();
		        }, 15000);
		}, false);
	</script>
</header>
