<h3>Regionais:</h3>
<p>
    Encontre a comunidade Perl mais próxima de você!<br> <br> - <a
        target="_blank" href="http://cascavel.pm.org/">Cascavel</a><br> -
    <a target="_blank" href="http://campinas.pm.org/">Campinas</a><br> -
    <a target="_blank" href="http://fortaleza.pm.org/">Fortaleza</a><br>
    - <a target="_blank" href="http://recife.pm.org/">Recife</a><br> - <a
        target="_blank" href="http://salvador.pm.org/">Salvador</a><br> -
    <a target="_blank" href="http://sao-paulo.pm.org/">São Paulo</a><br>
    - <a target="_blank" href="http://vitoria.pm.org/">Vitória</a><br>
</p>
